@import url("reset.css");
@import url("header.css");
@import url("contents1.css");
@import url("contents2.css");
@import url("contents3.css");
@import url("contents4.css");
@import url("footer.css");
@import url("search.css");

body {
    font-family: KakaoBig,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,sans-serif;
}

main {
    width: 1296px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.fixed {
    position: fixed;
    top: 12%;
}

.margined {
    margin-left: 666px;
}

.span-title {
    display: block;
    padding-left: 84px;
    padding-top: 96px;
    font-weight: 700;
    font-size: 46px;
    line-height: 66px;
    letter-spacing: -1px;
}

.date-title {
    font-weight: 700;
    font-size: 46px;
    line-height: 66px;
    letter-spacing: -1px;
}

@media (max-width: 1300px) {
    main {
        width: 800px;
    }
    .header {
        width: 800px;
    }
    .container1 {
        width: 800px;
        margin: 0 auto;
    }
    .container2 {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .container3 {
        width: 800px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .container4 {
        width: 800px;
        margin: 0 auto;
    }
    .big-contents {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .small-contents {
        margin: 0 auto;
    }
    .fixed {
        position: inherit;
    }
    .margined {
        margin: 0 auto;
    }
    .fixed2 {
        position: inherit;
    }
}